{# _index.html_ #} 
{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical" id="display">
            <div class="tile"></div>
            <div class="tile is-child box">
                <p class="title">NodeMCUs</p>
                <b-field grouped group-multiline>
                    <div class="control" v-for="host in data['nodemcus']">
                        <b-taglist attached>
                            <b-tag type="is-warning">{{ '{{ host.id }}' }}</b-tag>
                            <b-tag type="is-danger"><i class="fa fa-thermometer-full fa-fw"></i>{{ '{{ host.temperature }}' }} °C</b-tag>
                            <b-tag type="is-primary"><i class="fa fa-cloud fa-fw"></i>{{ '{{ host.humidity }}' }} %</b-tag>
                        </b-taglist>
                    </div>
                </b-field>
            </div>
            <div class="tile is-child box">
                <p class="title">Sense Hats</p>
                <b-field grouped group-multiline>
                    <div class="control" v-for="host in data['sensehatpis']">
                        <b-taglist attached>
                            <b-tag type="is-warning">{{ '{{ host.id }}' }}</b-tag>
                            <b-tag type="is-danger"><i class="fa fa-thermometer-full fa-fw"></i>{{ '{{ host.temperature }}' }} °C</b-tag>
                            <b-tag type="is-primary"><i class="fa fa-cloud fa-fw"></i>{{ '{{ host.humidity }}' }} %</b-tag>
                            <b-tag type="is-success">{{ '{{ host.pressure }}' }} millibar</b-tag>
                        </b-taglist>
                    </div>
                </b-field>
            </div>
            <div class="tile"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    Vue.use(Buefy.default, { defaultIconPack: 'fa' })
    var configuration = {
        data() {
            return {
                data: {
                    nodemcus: [],
                    sensehatpis: [],
                    enviropis: []
                }
            }
        },
        methods: {
            loadAsyncData() {
                var vm = this;
                vm.loading = true;
                axios.get("/components_data")
                .then(({ data }) => {
                    vm.data = data;
                })
            }
        },
        beforeMount() {
            this.loadAsyncData()
        }
    }
    const app = new Vue(configuration);
    app.$mount("#display")
</script>
{% endblock %}
