/* nav>div, .navbar, .navbar-item, .navbar-brand  */
.navbar {
    /* 
    background-color: #BBDEFB;
    background-image: url("/static/img/absurdity.png"); 
    */
    background: linear-gradient(0.5turn, rgb(255,255,255), rgb(255,255,255) 19%, rgb(242, 242, 242), rgb(242, 242, 242) 0%);
}